html{
	height: 100%;
}
body{
	font-size: 40px;
	background-color: coral;
	height: 100%;
	margin: 0;
	padding: 0;
}

div{
	background-color: seagreen;
}

span{
	background-color: dodgerblue;
}

span, div{
	width: 50%;
	display: block;
	/*Em geral, exceção ao position, a altura e largura seguem a definição de seu parent (pai) em tamanhos relativos*/
	height: 25%;
	/*A porcetagem não funciona pois o body é dinamico*/
}