*{
	margin: 0;
	padding: 0;
}

header{
	grid-area: cabecalho;
}

nav{
	grid-area: navegacao;
}

main{
	grid-area: conteudo;
}

footer{
	grid-area: rodape;
}

body{
	display: grid;
	min-height: 100vh;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 100px 1fr 100px;
	grid-template-areas: 
		'cabecalho cabecalho'
		'navegacao conteudo'
		'navegacao rodape';
}

/*Para dispositivos Mobile*/

@media (max-width: 700px) {

	body{

		grid-template-columns: 1fr;
		grid-template-rows: 80px 80px 1fr 100px;
		grid-template-areas: 
			'cabecalho'
			'navegacao'
			'conteudo'
			'rodape';

	}

}