html, body{
	margin: 20px;
	height: calc(100% - 40px);
	background-color: lightgray;
}

div{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	border: 5px solid dodgerblue;
	background-color: #fff;
}

body{
	display: grid;
	/*Dando nome pras linhas*/
	grid-template-columns:  [inicio] 1fr [metade-1 meio-1] 1fr [metade-2 meio-2] 1fr [fim];
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;

}

.d1{
	/*
	grid-column: meio-1 / fim;
	grid-row: 1 / 3;
	*/
	/* row-start / column-start / row-end / column-end */
	grid-area: 1 / meio-1 / span 3 / fim;

}