html, body{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	font-family: 'Muli', sans-serif;
}

header{
	width: 100%;
	display: flex;
	background-color: #1E85FE;
}

h1{
	width: 100%;
	text-align: center;
	color: #fff;
	letter-spacing: 1.75px;
	font-size: 1.75em;
}

section{
	width: 100%;
	margin-top: 2.5%;
	display: flex;
	justify-content: center;
}

table{
	width: 35%;
	text-align: center;
	border-spacing: 0;
	margin-bottom: 2.5%;
}

table thead{
	font-size: 1.5em;
	letter-spacing: 1.5px;
	background-color: #1CADE6;
}

table thead tr th{
	padding: 0.5%;
	border-bottom: 1px solid #0f0f0f;
	color: #fff;	
	font-family: 'Open Sans', sans-serif;
}

table tbody{
	background-color: #BBF8FC;
	font-size: 1.25em;
}

table tbody tr td{
	padding: 2%;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

table tbody tr td:hover{
	background-color: #50F9FC;
}

table tbody tr td a{
	color: #0f0f0f;
	text-decoration: none;

}