/*Setando os valores genericos*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Livvic', sans-serif;
}

ul, li{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background-color: #333;
	overflow-x: hidden;
}

.simple-text{
	color: #fff;
}


.active{
	color: #05FF1E;
}

/*
===========================
Scroll personalizado
===========================
*/

body::-webkit-scrollbar {
	width: 5px;
	background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb{
	background-color: #05FF1E;
	border-radius: 5px;
}

/*
===========================
Cabeçalho
===========================
*/
header{
	width: 100%;
	height: 60px;
	background-color: #1a1a1a;

	z-index: 9999;

	top: 0;
	position: sticky;
}

header > div{
	max-width: 1440px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;

}

/*Area do logo*/
.logo{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo h1{
	font-size: 2.25em;
	
	font-weight: bold;
	color: #fff;

	transition: 0.5s;
}

.logo h1:hover{
	font-size: 2.3em;
	letter-spacing: 2px;
}

.logo span{
	color: #05FF1E;
}


/*Area do Menu*/
.menu{
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2.5%;
	z-index: 999;
}

.menu li{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;

	padding: 0 5%;

}

.menu a{
	font-size: 1.5em;
	transition: 1s;
}

.menu a:hover{
	color: #05FF1E;
}

/*---------------------------*/
.hamburguer-menu{
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Botão animado*/
.hamburguer{
	display: none;

	width: 40px;
	height: 40px;

	background-color: #333;

	border-radius: 10%;

	position: relative;

	cursor: pointer;
}

.hamburguer:before{
	/*Preparando pseudo-elemento*/
	content: '';
	position: absolute;

	/*Criando estrutura*/
	width: 70%;
	height: 10%;
	border-radius: 20px;
	background-color: #fff;

	/*Posicionando*/
	top: 30%;
	left: 15%;

	/*Definindo tempo de animação*/
	transition: 1s ease;

}

.hamburguer:after{
	/*Preparando pseudo-elemento*/
	content: '';
	position: absolute;
	
	/*Criando estrutura*/
	width: 70%;
	height: 10%;
	border-radius: 20px;
	background-color: #fff;

	/*Posicionando*/
	top: 60%;
	left: 15%;

	/*Definindo tempo de animação*/
	transition: 1s ease;
}

.active-btn {

}

.active-btn:before{
	transform: rotate(225deg);
	top: 45%;
}

.active-btn:after{
	transform: rotate(-225deg);
	top: 45%;
}

/*
===========================
Banner
===========================
*/

.banner-box{
	position: relative;
	height: calc(100vh - 60px);
}
/*Carregamento pré banner*/

.banner-loading{

	position: absolute;

	width: 100%;

	height: 100%;

	z-index: 99;

	background-color: #2a2a2a;

	cursor: progress;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hidden{
	display: none;
}

.loading-bar{
	/*Criando estrutura*/
	width: 80%;
	height: 2%;
	border-radius: 20px;
	background: #fff;
}

.progress-bar{
	width: 0%;
	height: 100%;
	background-color: #05FF1E;
	border-radius: 20px;

	/*Definindo tempo de animação*/
	transition: 5s ease;	
}

.full{
	width: 100%;
}

.banner-loading span{

	margin-top: 2%;

	color: #fff;
	font-size: 1.5em;

	animation: hidden 3s infinite;
}

@keyframes hidden{

	0%{

		opacity: 1;

	}
	50%{

		opacity: 0.1;

	}
	100%{

		opacity: 1;

	}

}

 /*Banner Animado*/
.banner{

	display: none;

	position: relative;

	height: 100%;
	
	background-color: #2a2a2a;

	z-index: 9;

	display: flex;
	align-items: center;
	justify-content: center;
}

.banner h2{
	font-size: 1.5em;
	z-index: 99;
	color: #fff;	
}

.banner i{
	font-size: 1.5em;
	color: #05FF1E;	
	font-style: normal;
}

/*Animação*/

.ball li{
    width: 10vh;
    height: 10vh;
    background-image: linear-gradient(to left, #fff, darkgray);
    opacity: 50%;
    border-radius: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    animation: move 5s infinite;
    animation-direction: alternate;
}

@keyframes move {

    from{
        transform: translate3d(10vh,50vh,0);
    }
    to{
        transform: translate3d(-10vh,-100vh,0);
    }

}

/*
===========================
Main
===========================
*/

main{
	position: relative;
	z-index: 99;
	background-color: #333;
}

/*
===========================
Area de conteudo
===========================
*/

.content-area{
	padding: 2.5% 0;
	width: 100%;

	
	display: flex;
	flex-direction: row;

	opacity: 0;
	transition: 2s linear;
}

.change-order{
	order: 0;
}

/*
===========================
Area de conteudo - Figura
===========================
*/

.fig-area{
	width: 40%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.fig-area a{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fig-area img{
	width: 50%;
	padding: 2%;
	transition: 1s ease;
	cursor: pointer;
}

.fig-area img:hover{
	width: 50.5%;
	
}

/*
===========================
Area de conteudo - Texto
===========================
*/

.text-area{
	width: 60%;

	display: flex;
	justify-content: center;
	flex-direction: column;
}

.text-area h3{
	font-size: 2em;

	color: #05FF1E;
	border-bottom: 3px solid #05FF1E;

	padding: 0.5% 2.5%;
	margin: 0.5% 5%;
}

.text-area p{
	text-align: justify;

	margin: 1.5% 5.5%;

	font-size: 1.25em;

	color: #fff;
}

.text-area p a{
	color: #05FF1E;
	transition: 0.5s ease;
}

.text-area p a:hover{
	letter-spacing: 0.5px;
	text-shadow: 0 0 15px #05FF1E;
}


/*
===========================
Area de animação - Ampulheta
===========================
*/

.moving-area{
	width: 100%;
	height: 250px;
	position: relative;
}

.run-ball{
	position: absolute;

	width: 10vh;
	height: 10vh;

	border-radius: 100%;

	background: linear-gradient(#05FF1E, #fff);

	animation: run 8s infinite;

	transition: 4s ease;

}

.run-ball span{
	position: absolute;

	width: 100%;
	height: 100%;

	background: linear-gradient(#05FF1E, #fff);	

	border-radius: 50%;

	cursor: pointer;
}

.die-ball {
	opacity: 0.02;
}

.run-ball span:nth-child(1){
	filter: blur(5px);
}

.run-ball span:nth-child(2){
	filter: blur(10px);
}

.run-ball span:nth-child(3){
	filter: blur(15px);
}

@keyframes run {

	0%{
		top: 10%;
		left: 15%;

		transform: rotate(0deg);
	}
	25%{
		top: 65%;
		left: 15%;	

		transform: rotate(180deg);
	}
	50%{
		top: 10%;
		left: 70%;	

		transform: rotate(360deg);
	}
	75%{
		top: 65%;
		left: 70%;		

		transform: rotate(180deg);
	}
	100%{
		top: 10%;
		left: 15%;	

		transform: rotate(0deg);

	}

}

/*
===========================
Area de arquivos
===========================
*/

.study-area{
	width: 98%;
	margin: 2.5% 1%;
	display: static;
}

.titulo-card{
	width: 100%;
	padding: 0 0 0.5% 5%;
	font-size: 2.25em;
	font-weight: bold;
}

.html{
	border-bottom: 4px solid #F5700A;
	color: #F5700A;
}

.css{
	border-bottom: 4px solid #0080FF;
	color: #0080FF;	
}

.js{
	border-bottom: 4px solid #fffb00;
	color: #fffb00;		
}

/*
===========================
Carrossel
===========================
*/

.slider{
	width: 100%;
	padding: 2.5% 1%;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.card-area{
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.card{
	width: 15%;
	background-color: #1c1c1c;
	margin: 0 2.5%;
	border-radius: 5%;
	transition: 0.5s ease;
	display: flex;
	flex-direction: column;
}

.card:hover{
	text-shadow: 0px 0px 10px #fff;
	box-shadow: 1px 1px 1px 1px #555;
}

.card:hover .card-img{
	background-image: url("../IMG/logo-white.png");
	background-size: cover;
	background-position: center;
}

.card a{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.card-img{
	width: 80%;
	height: 130px;
	margin: 10% 10%;
	background-size: cover;
	background-position: center;

	transition: 0.5s	 ease;
	opacity: 1.0;
}

/*Area de logo personalizado*/

.html-card{
	background-image: url("../IMG/logo-html.png");
}

.css-card{
	background-image: url("../IMG/logo-css.png");
}

.js-card{
	background-image: url("../IMG/logo-js.png");
}

.card-img img{
	width: 100%;
}

.card a h3{
	width: 90%;
	margin: 0 5% 10% 5%;
	color: #05FF1E;
	font-weight: normal;
	text-align: center;
	font-size: 24px;
	overflow: hidden;
}

.card:hover a h3{
	color: #fff;
}

.anterior, .proximo{
	width: 5%;
	font-size: 5vw;
	display: flex;
	color: #05FF1E;
	cursor: pointer;
	transition: 0.5s ease;
}

.anterior{
	justify-content: flex-start;
}

.anterior:hover{
	color: #fff;
}

.proximo{
	justify-content: flex-end;
}

.proximo:hover{
	color: #fff;	
}

/*
===========================
Rodapé
===========================
*/

footer{
	margin-top: 2.5%;
	width: 100%;
	height: 100px;
	background-color: #1a1a1a;
}

/*
===========================
Metodos Gerais
===========================
*/

.slow-show{
	opacity: 1;
}

.desaparecer{
	opacity: 0;
	display: none;
}

.show-area{
	display: flex;
}



/*
===========================
Netbooks
===========================
*/

@media (max-width: 1024px){

	.card{
		width: 19%;
		margin: 0 0.5%;
	}

	.card-img{
		width: 90%;
		height: 130px;
		margin: 10% 5%;
	}

	.card a h3{

		font-size: 20px;

	}

}

/*
===========================
Tablets
===========================
*/

@media (max-width: 900px){

	.card-img{
		width: 95%;
		height: 110px;
		margin: 5% 2.5%;
	}

	.card a h3{

		font-size: 18px;

	}

}

/*
===========================
Celulares
===========================
*/

@media (max-width: 700px){

	.hamburguer{
		display: block;
	}

	/*Menu lateral*/
	.menu{
		position: fixed;
		right: -50%;
		top: 60px;
		width: 50%;
		height: 100vh;
		background-color: #1a1a1a;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		transition: 1s;
	}

	.active-menu{
		right: 0;
	}

	.menu li{
		padding: 0;
		width: 100%;
		height: auto;
		margin: 5% 0;
	}

	/*Banner*/

	@keyframes move {

		from{
	        transform: translateY(50vh);
	    }
	    to{
	        transform: translateY(-100vh);

	    }

	}

	/*Area do Main*/

	.content-area{
		flex-direction: column;
	}

	.change-order{
		order: -1;
	}

	.fig-area{
		width: 100%;
	}

	.text-area{
		width: 100%;
	}

	.text-area h3{
		text-align: center;
	}

	.terms-btn{
		padding: 2.5%;
		margin: 2.5% 0;
	}

	/*Area de cards desktop*/

	.study-area{
		width: 95%;
		margin: 2.5% 2.5%;
		display: flex;
		flex-direction: column;
	}

	.slider{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	.card-area{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.card{
		width: 70%;
		background-color: #1c1c1c;
		margin: 5% 15%;
	}

	.anterior, .proximo{
		display: none;
	}

	.card-img{
		width: 90%;
		height: 100px;
		margin: 5% 2.5%;
	}

	.desaparecer{
		opacity: 1;
		display: flex;
	}

	/*Rodape*/

	footer{
		margin-top: 10%;
	}

}
