/*Setando os valores genericos*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Livvic', sans-serif;
}

ul, li{
	list-style: none;
}

a{
	text-decoration: none;
}

body{
	background-color: #333;
	overflow-x: hidden;
}

.simple-text{
	color: #fff;
}


.active{
	color: #05FF1E;
}

/*
===========================
Scroll personalizado
===========================
*/

body::-webkit-scrollbar {
	width: 5px;
	background-color: #1a1a1a;
}

body::-webkit-scrollbar-thumb{
	background-color: #05FF1E;
	border-radius: 5px;
}

/*
===========================
Cabeçalho
===========================
*/
header{
	width: 100%;
	height: 60px;
	background-color: #1a1a1a;

	z-index: 9999;

	top: 0;
	position: sticky;
}

header > div{
	max-width: 1440px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;

}

/*Area do logo*/
.logo{
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo h1{
	font-size: 2.25em;
	/*font-size: 2.5vw;*/
	
	font-weight: bold;
	color: #fff;

	transition: 0.75s;
}

.logo h1:hover{
	font-size: 2.3em;
}

.logo span{
	color: #05FF1E;
}


/*Area do Menu*/
.menu{
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2.5%;
	z-index: 999;
}

.menu li{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;

	padding: 0 5%;

}

.menu a{
	font-size: 1.5em;
	transition: 1s;
}

.menu a:hover{
	color: #05FF1E;
}

/*---------------------------*/
.hamburguer-menu{
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Botão animado*/
.hamburguer{
	display: none;

	width: 40px;
	height: 40px;

	background-color: #333;

	border-radius: 10%;

	position: relative;

	cursor: pointer;
}

.hamburguer:before{
	/*Preparando pseudo-elemento*/
	content: '';
	position: absolute;

	/*Criando estrutura*/
	width: 70%;
	height: 10%;
	border-radius: 20px;
	background-color: #fff;

	/*Posicionando*/
	top: 30%;
	left: 15%;

	/*Definindo tempo de animação*/
	transition: 1.25s ease;

}

.hamburguer:after{
	/*Preparando pseudo-elemento*/
	content: '';
	position: absolute;
	
	/*Criando estrutura*/
	width: 70%;
	height: 10%;
	border-radius: 20px;
	background-color: #fff;

	/*Posicionando*/
	top: 60%;
	left: 15%;

	/*Definindo tempo de animação*/
	transition: 1.75s ease;
}

.active-btn {

}

.active-btn:before{
	transform: rotate(225deg);
	top: 45%;
}

.active-btn:after{
	transform: rotate(-225deg);
	top: 45%;
}

/*
===========================
Banner
===========================
*/

.banner-box{
	position: relative;
	height: calc(100vh - 60px);
}
/*Carregamento pré banner*/

.banner-loading{

	position: absolute;

	width: 100%;

	height: 100%;

	z-index: 99;

	background-color: #1a1a1a;

	cursor: progress;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hidden{
	display: none;
}

.loading-bar{
	/*Criando estrutura*/
	width: 80%;
	height: 2%;
	border-radius: 20px;
	background: #fff;
}

.progress-bar{
	width: 0%;
	height: 100%;
	background-color: #05FF1E;
	border-radius: 20px;

	/*Definindo tempo de animação*/
	transition: 5s ease;	
}

.full{
	width: 100%;
}

.banner-loading span{

	margin-top: 2%;

	color: #fff;
	font-size: 1.5em;

	animation: hidden 3s infinite;
}

@keyframes hidden{

	0%{

		opacity: 1;

	}
	50%{

		opacity: 0.1;

	}
	100%{

		opacity: 1;

	}

}

 /*Banner Animado*/
.banner{

	display: none;

	position: relative;

	height: 100%;
	
	background-color: #2a2a2a;

	z-index: 9;

	display: flex;
	align-items: center;
	justify-content: center;
}

.banner h2{
	font-size: 1.5em;
	z-index: 99;
	color: #fff;	
}

.banner i{
	font-size: 1.5em;
	color: #05FF1E;	
	font-style: normal;
}

/*Animação*/

.ball li{
    width: 10vh;
    height: 10vh;
    background-image: linear-gradient(to left, #fff, darkgray);
    opacity: 50%;
    border-radius: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    animation: move 5s infinite;
    animation-direction: alternate;
}

@keyframes move {

    from{
        transform: translate3d(10vh,50vh,0);
    }
    to{
        transform: translate3d(-10vh,-100vh,0);
    }

}

/*
===========================
Main
===========================
*/

main{
	position: relative;
	z-index: 99;
	height: 500px;
	background-color: #333;
}

/*
===========================
Celulares
===========================
*/

@media (max-width: 700px){

	.hamburguer{
		display: block;
	}

	/*Menu lateral*/
	.menu{
		position: fixed;
		right: -50%;
		top: 60px;
		width: 50%;
		height: 100vh;
		background-color: #1a1a1a;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		transition: 2.5s;
	}

	.active-menu{
		right: 0;
	}

	.menu li{
		padding: 0;
		width: 100%;
		height: auto;
		margin: 5% 0;
	}

	/*Banner*/

	.banner-box{
		height: 60vw;
	}

	.banner-loading span{
		left: 32.5%;
	}

@keyframes move {

	from{
        transform: translateY(150%);
    }
    to{
        transform: translateY(-450%);

    }

}

}
