*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	background-color: #0D252D;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	box-sizing: border-box;
}