*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	background-color: #0D252D;
	color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	box-sizing: border-box;
}

form{
	display: flex;
	flex-direction: column;
	margin: 25px;
}

input{
	font-size: 1.25em;
	padding: 5px;
	margin: 10px 0;
	color: #0f0f0f;
}

select{
	margin:  0 0 10px 0;
	padding: 5px;
}
 button{
 	margin: 0 70px;
 	border-radius: 25px;
 	font-size: 1.1em;
 	padding: 5px 0;
 }